{% extends 'base.html' %}
{% block body %}
    <div class="">
        <h1>Category Manage</h1>
    </div>
    <form class="navbar-form " action="{{ url_for('admin.category_new') }}" method="post">
        <input type="text" class="form-control" name="name" placeholder="分类名">
        <input type="text" class="form-control" name="father_name" placeholder="上级分类">
        <button type="submit" class="btn btn-default">创建新分类</button>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th class="th-col-4">分类</th>
            <th class="th-col-2">产品数量</th>
            <th class="th-col-2">操作</th>
        </tr>
        </thead>
        <tbody>
        {% for p in ms %}
            <tr data-id={{ p.id }} class="info">
                <td>
                    <a href="#">{{ p.name }}</a>

                </td>
                <td>{{ p.price }}</td>
                <td>
                    <a href="{{ url_for('admin.category_del', uuid=p.uuid) }}">删除</a>
                </td>
            </tr>
            {% for i in p.sons %}
                <tr data-id={{ i.id }}>
                    <td>
                         <span class="glyphicon glyphicon-chevron-right"></span>
                        <a href="#">{{ i.name }}</a>
                    </td>
                    <td>{{ i.price }}</td>
                    <td>
                        <a href="{{ url_for('admin.category_del', uuid=i.uuid) }}">删除</a>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
